[submodule "gv-design-system"]
	path = gv-design-system
	url = https://github.com/andratwiro/gv-design-system.git
[submodule "gv-workspace"]
	path = gv-workspace
	url = https://github.com/andratwiro/gv-workspace.git
