/* Vienna Custom Fonts */

@font-face {
  font-family: 'OsloSans-Bold';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-BoldItalic';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-Light';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-LightItalic';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-Medium';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-MediumItalic';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-Regular';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'OsloSans-RegularItalic';
  src:url("/fonts/216da5a0-bb8c-43ea-b472-89c3a989ae64/WOFF/OsloSans-RegularItalic.woff") format("woff");
}
